body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    line-height: 1.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('img/Patternreframed.png');
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background: transparent;
    height: 400px;
}

.logoMark {
    height: 38.5px;
    padding: 0%;
    background-color: rgba(199, 255, 108, 0.6);
}

/* First image (Logo. Full height) */
.bgimg-1 {
    height: 100%;
}

.logo {
    display: block;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 75%;
}

.customTitle {
    background-color: black;
    padding: 7px;
}

.content {
    background: white;
    margin: 0;
    min-width: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

@media only screen and (max-device-width: 768px) {    
    .logoBox {
        width: 100%;
    }
    .logo {
        width: 90%;
    }
}
