body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logoMark {
    height: 38.5px;
    padding: 0px;
    background-color: rgba(199, 255, 108, 0.6);
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('img/Patternreframed.png');
  min-height: 100%;
  /* opacity: 0.78; */
}

.logo {
    display: block;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 100%;
}


/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url('img/Patternreframed.png');
    min-width: 100%;
    /* opacity: 0.78; */
}

.customTitle {
    background-color: black;
    padding: 7px;
}



/* Third image (Contact) */
.bgimg-3 {
    background-image: url('img/Patternreframed.png');
    min-width: 100%;
    /* opacity: 0.78; */
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}